cryptography
playwright==1.51.0
pytest
pytest-playwright-asyncio
pytest-asyncio
python-dotenv==1.1.0
pydantic==2.11.7
Faker==37.4.0
validate-docbr==1.11.1
brazilcep==7.0.0
fastapi==0.115.13
uvicorn
httpx
jsonschema==4.24.0
SQLAlchemy==2.0.41
PyJWT==2.10.1
typer==0.16.0

ruff==0.12.1
python-multipart
datamodel-code-generator